* {box-sizing: border-box;}

#plots, #plots2 {
    width: 100%;
    position: absolute;
    padding: 50px;
    padding-left: 10px;
    background-color: rgb(20, 20, 30);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: calc(100% - 480px);
}
#plots {
    top: 780px;
}
#plots2 {
    top: 480px;
}


.axis path, .axis text{
    stroke: rgb(100, 100, 120);
    color:  rgb(100, 100, 120);
}

.axis line {
    display: none;
}

#legends {
    position: absolute;
    top: 200px;
}
#legends > svg {
    position: relative;
    display: block;
    margin-left: 60px;
}

#legends {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: 0.3s; /* Transition effect when sliding down (and up) */
  transition-delay: 0.3s;
  top: 200px;
}




.dot {
    fill: silver;
}

.line {
    fill: none;
    stroke: rgba(119, 131, 230, 0.5);
    stroke-width: 2px;
}

