#plots {
    width: 100%;
    top: 480px;
    position: absolute;
    padding: 50px;
    background-color: rgb(20, 20, 30);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.axis path, .axis text{
    stroke: rgb(100, 100, 120);
    color:  rgb(100, 100, 120);
}

.axis line {
    display: none;
}



.dot {
    fill: silver;
}

.line {
    fill: none;
    stroke: rgba(119, 131, 230, 0.5);
    stroke-width: 2px;
}

