* {box-sizing: border-box;}


.intro {
    width: 100vw;
    height: 100vh;
    background: #0f0a1c;
}

.intro img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.intro video {
    float: left;
    /* width: 80vw; */
}

.intro .title {
    position: absolute;
    right: 0;
    top: 500px;
    width: 350px;
    text-align: end;
    right: 55px;
    font-size: 44px;
    font-weight: 800;
    color: #0f1228;
}
/* .intro .subtitle { 
    position: absolute;
    right: 0;
    top: 700px;
    width: 350px;
    text-align: end;
    right: 50px;
    font-size: 20px;
} */

.top-wrapper {
    position: relative;
    height: 510px;
}

.plots-wrapper {
    position: relative;
    position: relative;
    padding: 0;
    margin: 0;
    height: 500px;
}

.plots-wrapper h3 {
    margin-left: 50px;
    z-index: 10;
    text-align: left;
    width: 100%;
    white-space: nowrap;
}

.plots-wrapper div {
    overflow: hidden;
}

#plots, #plots2 {
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
}
#plots {
    padding-top: 10px;
}
#plots2 {
    padding-top: 230px;
}


.axis path, .axis text{
    stroke: rgb(100, 100, 120);
    color:  rgb(100, 100, 120);
}

.axis line {
    display: none;
}

.axislabel {
    fill: grey;
    font-size: 13px;
}

#legends > svg {
    position: relative;
    display: block;
    margin-left: 60px;
}

#legends {
  position: absolute; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  /* transition-delay: 0.3s; */
  top: 200px;
}


.dot {
    fill: silver;
}

.line {
    fill: none;
    stroke: rgba(119, 131, 230, 0.5);
    stroke-width: 2px;
}

.heatplot-container {
    position: relative;
    height: 800px;
    width: 100%;
}

.heatplot-wrapper {
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    padding: 35px;
    width: 100%;
    background-color: #0f0f19;
    overflow: hidden;
    padding-bottom: 0;
}

.heatplot-wrapper div {
    overflow: hidden;
}
.movie video {
    -webkit-box-shadow: 5px 5px 16px 9px #000000;
    box-shadow: 5px 5px 16px 9px #000000;
}

.heatplot-wrapper h3 {
    text-align: center;
    color: #e4e4e4;
}
.wrapper-title {
    margin-top: 25px;
    margin-bottom: 10px;
}
.splash {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
}
.splash img {
    width: 100%;
    overflow: hidden;
}
.grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.heatplot-item {
    width: 40%;
    margin-left: -100px;
}
.heatplot-vti-image {
    margin-left: -50px;
    margin-top: -50px;
}  

.hr {
    border: 1px solid black;
}

.longformat img {
    height: 90%;
    object-fit: cover;
}

.longformat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.colorbar {
    height: 60% !important;
    margin-top: 50px;
}


.width-100  {
    width: 100%;
    margin-top: 80vw;
}
.gradientbackground {
    height: 20px;
    background: rgb(121,99,127);
background: linear-gradient(0, rgba(121,99,127,1) 0%, rgba(13,13,20,0.12986513453037467) 100%);
}

.backgroundbottom {
    width: 100%;
    margin-top: -170px;
    position: relative;
}
.backgroundbottom > img {
    width: 100%;
}

.footer {
        position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}