
body {
	margin: initial;
	font-family: "segoe", "arial", "sans-serif";
	color: #eee;
	text-align: center;
	background-color: rgb(15, 15, 25)
}

.cvlibD_structure {
	display: inline-block;
	margin: 3px;

}

.label {
	text-align: end;
}

.cvlibD_structure[io="output"] {
	border: none;
}

.SUPERBUILDER_Header {
	padding: 3px;
	color: white;
}


/* .cvlibD_structure[io="input"] .SUPERBUILDER_Header {
	background: darkblue;
} */
#databaseSelect {
	padding: 6px;
	border-radius: 10px;
}
.cvlibD_structure[io="output"] .SUPERBUILDER_Header {
	background: darkred;
}

.SUPERBUILDER_Content {
	padding: 3px;
	position: relative;
}
.normal_content {
	margin-top: -100px;
}
.prs_content {
	margin-top: -200px;
}

.SUPERBUILDER_Content .graticuleWrapper {
	width: 100px;
	height: 100px;
	cursor: move;
}

.SUPERBUILDER_Content .graticuleWrapper path {
	fill: none;
	stroke: #666;
}
.SUPERBUILDER_Content .graticuleWrapper circle {
	stroke: #333;
	fill: #ccc;
	stroke-width: 2;
}

.cvlibD_structure[type="table"] .SUPERBUILDER_Content {
	height: 500px;
	overflow: auto;
}

.cvlibD_structure[type="table"] .SUPERBUILDER_Content td {
	border: 1px solid black;
	padding: 2px;
}

.cvlibD_structure[type="table"] .SUPERBUILDER_Content table {
	border-collapse: collapse;
}

.SUPERBUILDER_Content .hiddenImg {
	display: none;
}

.SUPERBUILDER_Content .graphWrapper {
	width: 500px;
	height: 300px;
}

.SUPERBUILDER_Content .graphWrapper .viewport {
	background: #eee;
}

.SUPERBUILDER_Content .graphWrapper .axis text {
	fill: black;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.SUPERBUILDER_Content .graphWrapper .axis line,
.SUPERBUILDER_Content .graphWrapper .axis path {
	stroke: black;
}

.SUPERBUILDER_Content .graphWrapper .dataset[type="line"] {
	fill: none;
	stroke-width: 1px;
	stroke: crimson;
}

.SUPERBUILDER_Content .graphWrapper .dataset[type="scatter"] .point {
	fill: crimson;
	stroke-width: 1px;
}

#displaySelect {
	display: none;
}


#gradient {
	background: rgb(15, 15, 25);
	background: linear-gradient(90deg, rgba(0,0,0,0.615983979040835) 0%,  rgba(15,15,25,0.9711038712359944) 100%);
	position: absolute;
	left: 0;
	top: 0;
	width: 500px;
	height: 100%;
}

.controlWrapper {
	width: 200px;
}

.controlWrapper input {
-webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #e7e7e7;
  outline: none;
}



.controlWrapper input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: gold;
  border-radius: 50%;
  cursor: pointer;
}


.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}


#myresult {
	position: absolute;
	top: 280px;
	left: -530px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;

  width: 250px;
  height: 250px;
}